.header ul .fun {
		background:url(../img/BlueIcon.png) no-repeat;
		background-size:100%;
	}
	/*数据分析模块 对应导航栏背景变为绿色*/
.header ul .fun_2 {
	background:url(../img/GreenIcon.png) no-repeat;
	background-size:100%;
}


/*main*/
.main {
	width: 99%;
	/*height: 600px;*/
	margin-top: 130px;
	overflow: auto;
}
.clear {
		zoom: 1;
	}
	.clear:after {
		content:'';
		display: block;
		clear: both;
	}
.main .main_left {
	/*1140*/
	width: 80%;
	height: 600px;
	border: 1px solid red;
	overflow: auto;
}
.main_left .main_left_top {
	width: 100%;
	height: 100%;
}
.main_left .main_left_top h3 span {
	width: 34px;
	height: 32px;
	background: url(../images/inline.png) no-repeat;
}
.main_left .main_left_top h3 .normal {
	background-position: right 0;
}
.main_left .main_left_top h3 .run {
	background-position: left 00;
}
.main_left .main_left_top h3 .error {
	background-position: 34px 0;
}
.main_left_top .pump_sys .type1 .main_box {
	/*880*/
	position: relative;
	width: 64%;
	height: 30px;
	margin: 150px auto 40px auto;
	border: 1px solid red;
}
.main_left_top .type1 .main_tube {
	width: 100%;
	height: 5px;
	background: url(../images/htred.gif) repeat-x;
}
/*manometer class*/
.main_left_top .pump_sys .manometer {
	position: absolute;
	width: 14px;
	height: 20px;
	background: url(../images/manometer.png) no-repeat;
}
/*red pump class */

.main_left_top .pump_sys .pump_r {
	width: 43px;
	height: 47px;
}


