*{
	margin:0px;
	padding:0px;
	font-family:"黑体";
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
html,body{
	width:100%;
	height:100%;
	
	
}
ul,li{
	list-style: none;
}
img{
	border:none;
	display:block;
}
.clearfloat:after{
		content:" ";
		height:0;
		visibility:hidden;
		display:block;
		clear:both;
	}/*使用伪类清除浮动*/
body {
	width:100%;
   height:100%;
  min-width: 1024px;
  min-height: 768px;
  
	background:url(../img/loginBg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow:hidden;
}
 .hint{
	width:80px;
	height:30px;
	/*border:1px solid red;*/
	color:white;
	text-align:center;
	line-height:30px;
	box-shadow:0 0 3px darkgray;
	border-radius:5px;
	background:rgba(15,76,114,0.2);	
	display:none;
	
}
.title{
	width:100%;
	/*height:20%;*/
	/*width:1920px;*/
	height:110px;
	background:url(../img/loginNav.png) no-repeat;
	background-size:100%;
	position:relative;
	margin:0px auto;
}
@media screen and (max-width:1024px) {
	.title{
		width:1024px; 
	}
}
.title .markTitle{
	/*width:420px;
	height:60px;*/
	width:29%;
	/*height:45%;*/
	height:65px;
	/*border:1px solid red;*/
	background:url(../img/markTile.png) no-repeat;
	background-size:100%;
	position:absolute;
	/*top:5%;
	left:50%;*/
	top:12px;
	left:50%;
	/*margin-left:-210px;*/
	/*left:710px;*/
	/*margin-left:305px;*/
	margin-left:-15%;
	
}

 .main{
	/*width:60%;*/
	/*height:45%;
	min-width:800px;
	min-height:400px;*/
	width:970px;
	height:450px;
	/*border:1px solid red;*/
	position:absolute;
	top:20%;
	/*top:230px;*/
	left:50%;
	margin-top:50px;
	margin-left:-485px;
}
.loginLeftImg{
	/*width:50%;
	height:100%;*/
	width:440px;
	min-width:240px;
	min-height:350px;
	height:450px;
	/*border:1px solid blue;*/
	position:relative;
	float:left;
	
}
.loginLeftImg .loginPC{
	/*width:80%;
	height:90%;*/
	width:405px;
	height:328px;
	/*border:1px solid red;*/
	background:url(../img/loginPc.png) no-repeat;
	text-align:center;
	background-size:cover;
	position:absolute;
	top:72px;
	/*bottom:0px;*/
	/*left:10%;*/
	/*left:56px;*/
	
	
}
/*最高一层的警告图标*/
.loginLeftImg .loginWarning{
	width:71px;
	height:71px;
	/*width:13%;*/
	/*height:16%;*/
	
	background:url(../img/loginWarning.png) no-repeat;
	background-size:cover;
	position:absolute;
	/*top:4%;
	left:45%;*/
	top:42px;
	left:180px;
	/*-webkit-animation: spin 2s linear infinite;*/
}
/*第二行放设置和数据分析*/
.col2{
	width:100%;
	/*height:18%;*/
	height:61px;
	/*border:1px solid blueviolet;*/
	position:absolute;
	/*top:25%;*/
	top:120px;
	left:0px;
}
.col2>div{
	/*width:11%;*/
	/*height:75%;*/
	width:61px;
	height:61px;
	/*border:1px solid red;*/
}
.col2 .loginSet{
	/*margin-left:15%;*/
	margin-left:25px;
	background:url(../img/loginSetIcon.png) no-repeat;
	background-size:100%;
	
}
.col2 .loginDataAnalysis{
	float:right;
	/*margin-right:15%;*/
	margin-right:52px;
	background:url(../img/loginDataAnalysis.png) no-repeat;
	background-size:100%;
	/*-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */*/
}
.col3{
	width:100%;
	/*height:20%;*/
	height:52px;
	/*border:1px solid red;*/
	position:absolute;
	/*top:55%;*/
	top:276px;
	left:0px;
	
}
.col3>div{
	/*width:9%;*/
	/*height:59%;*/
	width:52px;
	height:52px;
	/*border:1px solid red;*/
}
.col3 .loginFailureRecovery{
	/*margin-left:9%;*/
	background:url(../img/loginFailureRecovery.png) no-repeat;
	background-size:100%;
	/*-webkit-animation: spin 2s linear infinite;*/
}
.col3 .loginRemoteControl{
	float:right;
	/*margin-right:10%;*/
	margin-right:24px;
	background:url(../img/loginRemoteConrol.png) no-repeat;
	background-size:100%;
	/*-webkit-animation: spin 2s linear infinite;*/
}
.loginLeftImg .modelIcon{
	
	/*border:1px solid greenyellow;*/
	display:inline-block;
	
}
/*.loginLeftImg .animation{
	-webkit-animation: spin 2s linear infinite;
}*/
.loginPC p{
	color:white;
	margin:50% auto;
}
/*用户登录框*/
.loginUserPsd{
	/*width:50%;
	height:100%;*/
	width:520px;
	height:450px;
	min-width:260px;
	float:right;
	/*border:1px solid yellow;*/
}
.loginUserPsd .login .planeIcon{
	
	width:140px;
	height:110px;
	/*width:30%;
	height:25%;*/
	
	background:url(../img/planeIcon.png) no-repeat;
	background-size:100%;
	/*border:1px solid rosybrown;*/
	float:left;
	position:absolute;
	top:-28px;
	left:5px;
	/*top:-5%;
	left:-7.5%;*/
	overflow:visible;
	/*display: none;*/
	
}
/*登录模块内层div*/
.loginUserPsd .login{
	/*width:80%;*/
	/*height:100%;*/
	/*min-width:354px;*/
	width:450px;
	height:430px;
	/*min-width:*/
	/*height:424px;*/
	/*border:1px solid greenyellow;*/
	/*margin:0px auto;*/
	color:white;
	position:relative;
}
/*右边登录部分的头部*/
.login .loginHeader{
	width:80%;
	/*height:13%;*/
	/*border:1px solid red;*/
	color:white;
	text-align:center;	
	background:rgba(2,145,211,0.9);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*margin:0px auto;*/
	float:right;
	line-height:3em;
	font-size:1.4em;
}
/*ul对应loginMain 包含用户名 密码和登录*/
.login .loginMain{
	width:80%;
	height:85%;	
	/*border:1px solid blue;*/
	/*margin:0px auto;*/
	float:right;
	background:rgba(15,76,114,0.2);
	padding-top:1%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.loginMain li{
	width:80%;
	height:10%;	
	margin:15% auto;
	background: rgb(9,74,101);
	border-radius:5px;
	vertical-align:middle;
	padding-left:3%;
}
.login li i{
	display:inline-block;
	width:9%;
	height:80%;
	vertical-align:middle;
	margin-top:5px;
	
	
	vertical-align:middle;	
}
.login li span{
	height:100%;
	width:6px;
	display: inline-block;
	background: url(../img/line.png) no-repeat;
	vertical-align:middle;
	margin:0px 7px;
}

.login li i#userNameIcon{
	background:url(../img/userIcon.png) no-repeat;
	background-position: 4% 20%;
}
.login li i#userPsdIcon{
	background:url(../img/psdIcon.png) no-repeat;
	background-position:30% 20%;
}
.login li input{
	height:100%;
	width:70%;
	background:none;
	color:white;
	vertical-align:middle;
	border:none;
}
/*文本框和密码框提示信息*/
::-webkit-input-placeholder{
	color:white;
	font-size:16px;
}
.login .loginBtn{
	text-align:center;
	line-height:100%;
	padding-top:2%;
	background:rgb(143,195,31);
	font-size:1.4em;
	
}
.loginFooter{
	width:100%;
	/*height:10%;*/
	/*width:1920px;*/
	height:100px;
	line-height: 100px;
	position:absolute;
	/*top: 880px;*/
	top:90%;
	/*left:0px;*/
	/*border:1px solid blue;*/
	text-align:center;
	font-size:medium;
	font-weight:normal;
	color:white;
}
@media screen and (max-height:768px){
	.loginFooter{
		top:700px;
	}
}
.loginFooter .copyright{
	font-size:1.5em;
	/*border:1px solid darkgoldenrod;*/
	position:absolute;	
	/*top:-2px;*/
	margin-left:-15px;	
	/*left:0px;	*/
}
.loginBtn a:link{
 		text-decoration: none;
 		color:#fff;
 	}/*未被访问链接样式*/
.loginBtn a:visited{
		color:#fff;
	}
.loginBtn a:active{
		text-underline: none;
	}
input[type=text]:focus,input[type=password]:focus{
		outline:none;
	}
/*创建一个名为spin的动画*/
@-webkit-keyframes spin{
	0%{
		-webkit-transform:rotate(0deg)
	}
	50%{
		-webkit-transform: rotate(180deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
